@import 'bootstrap-custom';

$test: #fff;

body {
  background: $test;
}

.some {
  background: #000;
  transition: background-color 0.5s ease;
}

a {
  color: yellow;
}

b {
  color: green;
}

p {
  color: pink;
}