body {
  padding-top: 50px;
}

.container-content {
  padding-top: $gap__next;
}

.file-links {
  @include unstyled-list;
  display: inline;

  li {
    display: inline;

    &:after {
      content: ", "
    }

    &:last-child {
      &:after {
        content: "."
      }
    }
  }
}